<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>
    <link rel="shortcut icon" href="/static/laboratory_stc/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/bootstrap.min.css">
{#          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"#}
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <a href="https://www.aielab.net/ahbd/"><img src="/static/laboratory_stc/img/banner.png.crdownload"></a>
</div>
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> << 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="../index">生信团队</a>
                </li>
                <li>
                    <a href="../team">人员组成</a>
                </li>
                <li>
                    <a href="../research">研究项目</a>
                </li>
                <li>
                    <a href="../achievement">科研成果</a>
                </li>
                <li>
                    <a href="../contact">联系我们</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
{#=========================人员详情============================#}
<div class="container">
    <div class="row">
        <div>
            <div class="xw_span" id="compose">
                <div>
                    <span>历史研究成果</span>
                </div>
            </div>

            <div class="row" style="margin-top: 20px">
                <div class="container">
                    <div class="row">
                        <h2 class="achievement_h2">&nbsp; &nbsp; &nbsp; [2022]</h2>
                        <li class="achievement_li">
                            <p>(10)</p>
                            <p>Yujia Gao#, Yiqiong Chen#, Haisong Feng, Youhua Zhang* and Zhenyu Yue*, RicENN:
                                prediction of rice enhancers with neural network based on DNA sequences, 2022,
                                Interdisciplinary Sciences-Computational Life Sciences, Doi:10.1007/s12539-022-00503-5.
                                (中科院3区，IF: 2.233)
                                <br>
                            </p>
                        </li>

                        <li class="achievement_li">
                            <p>(9)</p>
                            <p>Yiqiong Chen#, Yujia Gao#, Yanming Zuo, Hejie Zhou, Youhua Zhang*, and Zhenyu Yue*,
                                AthEDL: Identifying Enhancers in Arabidopsis thaliana Using an Attention-based Deep
                                Learning Method, 2022, Current Bioinformatics, accepted. (中科院3区，IF: 3.543)
                                </a>
                                <br>
                            </p>
                        </li>

                        <li class="achievement_li">
                            <p>(8)</p>
                            <p>(8) Yueyue Shen, Ying Xiang, Xiaolong Huang, Youhua Zhang, and Zhenyu Yue*, Pharmacogenomic
                                cluster analysis of lung cancer cell lines provides insights into preclinical model selection in NSCLC, 2022,
                                Interdisciplinary Sciences-Computational Life Sciences, accepted. (中科院3区，IF: 2.233)&nbsp;
                                </a>
                                <br>
                            </p>
                        </li>

                        <h2 class="achievement_h2">&nbsp; &nbsp; &nbsp; [2021]</h2>
                        <li class="achievement_li">
                            <p>(7)</p>
                            <p>Zhenyu Yue, Xinlu Chu, Junfeng Xia*, PredCID: prediction of driver frameshift indels in
                                human cancer, Briefings in Bioinformatics, Volume 22, Issue 3, 2021, bbaa119. (中科院1区
                                ，IF: 11.622)
                                <br>
                            </p>
                        </li>

                        <li class="achievement_li">
                            <p>(6)</p>
                            <p>Yueyue Shen, Youhua Zhang, Wei Xue, and Zhenyu Yue*, dbMCS: A Database for Exploring the
                                Mutation Markers of Anti-Cancer Drug Sensitivity, 2021, IEEE Journal of Biomedical and
                                Health Informatics, DOI:10.1109/JBHI.2021.3100424. (中科院1区，IF: 5.772)
                            </p>
                        </li>

                        <li class="achievement_li">
                            <p>(5)</p>
                            <p>Xinyi Liu#, Yueyue Shen#, Youhua Zhang, Fei Liu, Zhiyu Ma, Zhenyu Yue* and Yi Yue*,
                                IdentPMP: identification of moonlighting proteins in plants using sequence-based learning
                                models, 2021, PeerJ, 9:e11900. (中科院3区，IF: 2.984)
                            </p>
                        </li>
                        <h2 class="achievement_h2">&nbsp; &nbsp; &nbsp; [2020]</h2>
                        <li class="achievement_li">
                            <p>(4)</p>
                            <p>Zhenyu Yue, Le Zhao, Junfeng Xia*, dbCPM: a manually curated database for exploring the
                                cancer passenger mutations, Briefings in bioinformatics, 2020, 21(1): 309-317. (中科院1
                                区，IF: 11.622)
                            </p>
                        </li>
                        <li class="achievement_li">
                            <p>(3)</p>
                            <p>Yanming Zuo#, Hejie Zhou#, Zhenyu Yue*. ProRice: An Ensemble Learning Approach for
                                Predicting Promoters in Rice, Proceedings of the 4th International Conference on Computer
                                Science and Application Engineering. 2020: 58. (EI)
                            </p>
                        </li>
                        <li class="achievement_li">
                            <p>(2)</p>
                            <p>Yujia Gao#, Yiqiong Chen#, Zhiyu Ma, Tao Zeng, Iftikhar Ahmad, Youhua Zhang*, and Zhenyu
                                Yue*, Identification of Rice Drought-resistant Gene Based on Gene Expression Profiles
                                and Network Analysis Algorithm, 2020 International Conference on Intelligent Computing,
                                Springer, 2020: 290-301. (EI)
                            </p>
                        </li>
                        <h2 class="achievement_h2">&nbsp; &nbsp; &nbsp; [2019]</h2>
                        <li class="achievement_li">
                            <p>(1)</p>
                            <p>Zhenyu Yue, Le Zhao, Na Cheng, Hua Yan, Junfeng Xia*, dbCID: a manually curated resource
                                for exploring the driver indels in human cancer, Briefings in Bioinformatics, 2019,
                                20(5): 1925-1933. (中科院1区，IF: 11.622)
                            </p>
                        </li>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#=========================友情链接============================#}
<div class="line-block">
    <div class="container">
        <p>
            <a href="https://www.ahau.edu.cn/"><img src="/static/laboratory_stc/img/ahau.png" alt="ahau"></a>
            <a href="https://www.ncbi.nlm.nih.gov/"><img src="/static/laboratory_stc/img/ncbi.gif" alt="ncbi"></a>
            <a href="http://www.rcsb.org/"><img src="/static/laboratory_stc/img/pdb.gif" alt="pdb"></a>
{#            <a href="http://www.expasy.org/"><img src="/static/laboratory_stc/img/expasy.gif" alt="expasy"></a>#}
            <a href="http://www.genome.jp/kegg/"><img src="/static/laboratory_stc/img/kegg.gif" alt="kegg"></a>
{#            <a href="http://www.yeastgenome.org/"><img src="/static/laboratory_stc/img/sgd.gif" alt="sgd"></a>#}
        </p>
        <p>
{#            <a href="http://www.cazy.org/"><img src="/static/laboratory_stc/img/cazy.gif" alt="cazy"></a>#}
            <a href="http://www.nature.com/"><img src="/static/laboratory_stc/img/nature.gif" alt="nature"></a>
            <a href="http://www.sciencemag.org/"><img src="/static/laboratory_stc/img/science.gif" alt="science"></a>
            <a href="http://www.cell.com/"><img src="/static/laboratory_stc/img/cellpress.gif" alt="cellpress"></a>
        </p>
    </div>
</div>


{#=========================footer============================#}
<div class="footer">
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">Copyright © 安徽省北斗精准农业信息工程实验室版权所有 <a
            href="http://beian.miit.gov.cn" style="text-align:center;color:#fff"> 皖ICP备18022884号 </a></p>
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼 </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

</body>
</html>