<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>
    <link rel="shortcut icon" href="/static/laboratory_stc/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{#          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"#}
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <a href="https://www.aielab.net/ahbd/"><img src="/static/laboratory_stc/img/banner.png.crdownload"></a>
</div>
{#<div style="background: url('/static/laboratory_stc/img/background.png')  no-repeat 0 200px; position: absolute; background-size: 100% 100%;width: 960px; height: 588px;z-index: -2;opacity: 0.7">>#}
{#</div>#}
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> << 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="../index">生信团队</a>
                </li>
                <li>
                    <a href="../team">人员组成</a>
                </li>
                <li>
                    <a href="../research">研究项目</a>
                </li>
                <li>
                    <a href="../achievement">科研成果</a>
                </li>
                <li>
                    <a href="../contact">联系我们</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
{#=========================人员详情============================#}
<div class="container">
    <div class="row">
        <article class="xw_article">
            <p style="font-size: 20px;font-weight: 600">联系人：岳振宇</p>
            <p style="line-height: 50px;font-size: 18px">生物信息实验室指导老师</p>
            <p style="font-size: 18px">邮箱：<span style="color: #0cb687; text-decoration: underline #0cb687; cursor: pointer">zhenyuyue@ahau.edu.cn
</span></p>
            <p style="font-size: 18px">地址： 中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼 760室</p>
        </article>
        <div class="xw_contribute">
            <p style="color: #888888">网站贡献者：薛伟 唐钦铵 刘培萍 丁嘉玲 罗佳欣</p>
        </div>
    </div>
</div>
{#=========================友情链接============================#}
<div class="line-block">
    <div class="container">
        <p>
            <a href="https://www.ahau.edu.cn/"><img src="/static/laboratory_stc/img/ahau.png" alt="ahau"></a>
            <a href="https://www.ncbi.nlm.nih.gov/"><img src="/static/laboratory_stc/img/ncbi.gif" alt="ncbi"></a>
            <a href="http://www.rcsb.org/"><img src="/static/laboratory_stc/img/pdb.gif" alt="pdb"></a>
{#            <a href="http://www.expasy.org/"><img src="/static/laboratory_stc/img/expasy.gif" alt="expasy"></a>#}
            <a href="http://www.genome.jp/kegg/"><img src="/static/laboratory_stc/img/kegg.gif" alt="kegg"></a>
{#            <a href="http://www.yeastgenome.org/"><img src="/static/laboratory_stc/img/sgd.gif" alt="sgd"></a>#}
        </p>
        <p>
{#            <a href="http://www.cazy.org/"><img src="/static/laboratory_stc/img/cazy.gif" alt="cazy"></a>#}
            <a href="http://www.nature.com/"><img src="/static/laboratory_stc/img/nature.gif" alt="nature"></a>
            <a href="http://www.sciencemag.org/"><img src="/static/laboratory_stc/img/science.gif" alt="science"></a>
            <a href="http://www.cell.com/"><img src="/static/laboratory_stc/img/cellpress.gif" alt="cellpress"></a>
        </p>
    </div>
</div>


{#=========================footer============================#}
<div class="footer">
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">Copyright © 安徽省北斗精准农业信息工程实验室版权所有 <a
            href="http://beian.miit.gov.cn" style="text-align:center;color:#fff"> 皖ICP备18022884号 </a></p>
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼 </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

</body>
</html>