<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>
    <link rel="shortcut icon" href="/static/laboratory_stc/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/bootstrap.min.css">
{#          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"#}
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <a href="https://www.aielab.net/ahbd/"><img src="/static/laboratory_stc/img/banner.png.crdownload"></a>
</div>
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> << 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="/bioinfolab/index">生信团队</a>
                </li>
                <li>
                    <a href="/bioinfolab/team">人员组成</a>
                </li>
                <li>
                    <a href="/bioinfolab/research">研究项目</a>
                </li>
                <li>
                    <a href="/bioinfolab/achievement">科研成果</a>
                </li>
                <li>
                    <a href="/bioinfolab/contact">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{#=========================大=背=景============================#}
<div id="cell" class="cell container">
    <div class="row xw_banner">
        <div class="col-md-6 col-lg-6">
            <div>
                <h1>生物信息计算</h1>
            </div>
            <div>
                <h3>Bioinformatics and Computing</h3>
            </div>

        </div>
        <div class="col-md-6 col-lg-6 ">
            <div id="myCarousel" class="carousel slide nav_border" data-ride="carousel" data-interval="5000">
                <!-- 轮播（Carousel）指标 -->
                {#                <ol class="carousel-indicators">#}
                {#                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>#}
                {#                    <li data-target="#myCarousel" data-slide-to="1"></li>#}
                {#                    <li data-target="#myCarousel" data-slide-to="2"></li>#}
                {#                </ol>#}
                <!-- 轮播（Carousel）项目 -->
                <div class="carousel-inner">
                    <div class="item active ">
                        <img src="/static/laboratory_stc/img/1.jpg" alt="First slide">
                    </div>
                    <div class="item ">
                        <img src="/static/laboratory_stc/img/2.2.jpg" alt="Second slide"
                             style="margin-top: -5px">
                    </div>
                    <div class="item ">
                        <img src="/static/laboratory_stc/img/3.jpg" alt="Third slide">
                    </div>
                    <div class="item ">
                        <img src="/static/laboratory_stc/img/4.3.png" alt="Four slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{#=========================主要内容============================#}
<div class="container">
    <div class="row">
        <div>
            <div class="xw_span">
                <div>
                    <span>生信团队简介</span>
                </div>
            </div>
            <div class="intruduce">
                <div class="intruduce_img">
                    <div>
                        <img src="/static/laboratory_stc/img/hz.jpg">
                    </div>
                </div>
                <div>
                    <p><font size="3">安徽省北斗精准农业信息工程实验室的生物信息学团队，主要围绕：<br/>
                        (1) 生物信息计算为中心的农作物分子育种；<br/>
                    (2) 基于统计建模与机器学习的生物学大数据整合挖掘；<br/>
                    (3) 基于组学大数据的深度学习算法；<br/>
                    等多个方向开展研究。已发表科研论文多篇，设计开发了提供网络服务的相关生信工具平台多套。热忱欢迎来自全
                        世界的优秀毕业生加入我们团队！衷心希望与国内外同行开展各种层面的科研合作。</font></p>
                </div>
            </div>


            <div class="xw_span" id="compose">
                <div>
                    <span>团队骨干</span>
                    <a href="/bioinfolab/team">>>更多</a>
                </div>
            </div>

            <div class="compose  row">
                <div class="professor container">
                    <div class="row">
                        <div>
                            <span class="xw_label1"></span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/zyh1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">张友华 教授 博士</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/yzy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">岳振宇 副教授 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/gyj.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">高羽佳 讲师 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/cyq.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">陈祎琼 讲师 博士</span>
                            </div>
                        </div>
{##}
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/wzy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">王震宇 科研助理 硕士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/wxss.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">王小松 科研助理 硕士</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            {#            <div class="xw_span" id="research">#}
            {#                <div>#}
            {#                    <span>研究项目</span>#}
            {#                    <a href="">>>更多</a>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="xw_span" >#}
            {#                <div>#}
            {#                    <span>科研成果</span>#}
            {#                    <a href="">>>更多</a>#}
            {#                </div>#}
            {#            </div>#}
            {##}
            {#            <div class="xw_span">#}
            {#                <div>#}
            {#                    <span>联系我们</span>#}
            {#                    <a href="">>>更多</a>#}
            {#                </div>#}
            {#            </div>#}

        </div>
    </div>
</div>
{#=========================友情链接============================#}
<div class="line-block">
    <div class="container">
        <p>
            <a href="https://www.ahau.edu.cn/"><img src="/static/laboratory_stc/img/ahau.png" alt="ahau"></a>
            <a href="https://www.ncbi.nlm.nih.gov/"><img src="/static/laboratory_stc/img/ncbi.gif" alt="ncbi"></a>
            <a href="http://www.rcsb.org/"><img src="/static/laboratory_stc/img/pdb.gif" alt="pdb"></a>
{#            <a href="http://www.expasy.org/"><img src="/static/laboratory_stc/img/expasy.gif" alt="expasy"></a>#}
            <a href="http://www.genome.jp/kegg/"><img src="/static/laboratory_stc/img/kegg.gif" alt="kegg"></a>
{#            <a href="http://www.yeastgenome.org/"><img src="/static/laboratory_stc/img/sgd.gif" alt="sgd"></a>#}
        </p>
        <p>
{#            <a href="http://www.cazy.org/"><img src="/static/laboratory_stc/img/cazy.gif" alt="cazy"></a>#}
            <a href="http://www.nature.com/"><img src="/static/laboratory_stc/img/nature.gif" alt="nature"></a>
            <a href="http://www.sciencemag.org/"><img src="/static/laboratory_stc/img/science.gif" alt="science"></a>
            <a href="http://www.cell.com/"><img src="/static/laboratory_stc/img/cellpress.gif" alt="cellpress"></a>
        </p>
    </div>
</div>


{#=========================footer============================#}
<div class="footer">
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">Copyright © 安徽省北斗精准农业信息工程实验室版权所有 <a
            href="http://beian.miit.gov.cn" style="text-align:center;color:#fff"> 皖ICP备18022884号 </a></p>
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼 </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/Vanta/three.r119.min.js"></script>
<script src="/static/laboratory_stc/self_static/Vanta/vanta.cells.min.js"></script>
<script>
    VANTA.CELLS({
        el: "#cell",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        scale: 1.00
    })
</script>
</body>
</html>

#https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css
#https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js
#python manage.py runserver