<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>
    <link rel="shortcut icon" href="/static/laboratory_stc/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/bootstrap.min.css">
{#          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"#}
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <a href="https://www.aielab.net/ahbd/"><img src="/static/laboratory_stc/img/banner.png.crdownload"></a>
</div>
{#<div style="background: url('/static/laboratory_stc/img/background.png')  no-repeat 0 200px; position: absolute; background-size: 100% 100%;width: 960px; height: 588px;z-index: -2;opacity: 0.7">>#}
{#</div>#}
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> << 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="../index">生信团队</a>
                </li>
                <li>
                    <a href="../team">人员组成</a>
                </li>
                <li>
                    <a href="../research">研究项目</a>
                </li>
                <li>
                    <a href="../achievement">科研成果</a>
                </li>
                <li>
                    <a href="../contact">联系我们</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
{#=========================人员详情============================#}
<div class="container">
    <div class="row">
        <article class="xw_article">

            <span class="xw_title"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;&nbsp;基于图卷积网络的
                抗癌药物敏感性突变标志物预测（国家自然科学基金）</span>
            <div class="xw_title_div" style="width:100%;">
{#                <img class="xw_title_img" src="/static/laboratory_stc/img/background.png" align="right" width="500px" hspace="20" vspace="20"/>#}
                <p>识别抗癌药物敏感性的突变标志物，为携带特定基因组突变的病人群体选择合适的治疗方案，是开发靶向疗法、实现人
                    类癌症精准化医疗的重要环节。本项目旨在对癌症基因组中药物敏感性突变标志物进行收集整理的基础上，整合多源异质
                    信息，构建突变标志物-药物相互作用的二分网络，利用一阶和二阶近邻矩阵捕获二分图结构信息，开发基于谱域的多层
                    图卷积网络方法，用以解决药物敏感性突变标志物-药物相互作用对的网络链接预测问题。</p>
            </div>
            <span class="xw_title"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;&nbsp;癌症驱动框内突
                变的预测方法研究（安徽省自然科学基金）</span>
            <div class="xw_title_div" style="width:100%;">
{#                <img class="xw_title_img" src="/static/laboratory_stc/img/background.png" align="right" width="500px" hspace="20" vspace="20"/>#}
                <p>与人类参考基因组相比，癌症基因组包含大量的突变包括框内突变。识别导致癌症发展的驱动框内突变是理解肿瘤生物
                    学和开发靶向疗法的关键步骤。本项目拟从基因组序列出发，在数据集构建、特征编码和分类器开发等方面进行深入研
                    究。本项目的研究将对未来癌症领域的发展和临床应用起到促进作用。</p>
            </div>
            <span class="xw_title"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;基于机器学习的水
                稻启动子预测方法研究（大学生创新训练计划省级项目）</span>
            <div class="xw_title_div" style="width:100%;">
{#                <img class="xw_title_img" src="/static/laboratory_stc/img/background.png" align="right" width="500px" hspace="20" vspace="20"/>#}
                <p>水稻从基础研究到分子育种，研究越来越深入，对于基因的精准定位要求也随之提高，所研究的关键基因可以帮助改善
                    水稻的品质以提高水稻生产的质量。对于编码区关键基因的启动子精准识别是促进这些优势基因顺利表达的关键。启动
                    子的独特结构影响其与RNA聚合酶的亲和力，进而影响基因的表达水平。此研究探索利用深度神经网络算法对水稻启动子
                    进行预测，拟开发一个在多方面性能均优异的机器学习算法。除此之外，为了方便研究人员使用，此研究还计划构建一
                    个在线预测查询平台，方便对基因启动子信息的鉴定和查询。</p>
            </div>
            <span class="xw_title"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;基于深度学习算法的
                茶树miRNA预测研究（大学生创新训练计划省级项目）</span>
            <div class="xw_title_div" style="width:100%;">
{#                <img class="xw_title_img" src="/static/laboratory_stc/img/background.png" align="right" width="500px" hspace="20" vspace="20"/>#}
                <p>在茶树的多种生物过程中，miRNA发挥着核心作用，影响着茶树的生长和发育。茶树miRNA鉴别的实验方法昂贵且耗时，
                    但是很少有计算方法用于解决这个问题。本项目拟提出一个深度学习框架用来进行茶树miRNA与其靶标基因的预测。希
                    望此项目的成果以及后期的研究进展能在茶树精准育种方面发挥作用。</p>
            </div>
            <span class="xw_title"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;癌症抗药性突变预测
                方法研究（安徽农业大学引进人才科研项目）</span>
            <div class="xw_title_div" style="width:100%;">
{#                <img class="xw_title_img" src="/static/laboratory_stc/img/background.png" align="right" width="500px" hspace="20" vspace="20"/>#}
                <p>抗药性是临床实践中癌症靶向药物治疗失败的重要原因之一，而药物靶向蛋白的突变则是产生抗药性的主要原因。为了更
                    好地理解和预防抗药性、寻找解决抗药性问题的新策略，基因突变与其相关候选药物之间关系的探索越来越受到研究人
                    员的重视。本项目旨在建立包含突变、药物、癌症类型等信息在内的复杂系统生物网络，设计基于结构与功能基因组信
                    息耦合的特征编码方式，开发基于机器学习的癌症抗药性突变预测方法，从而挖掘具有临床意义的抗药性突变。</p>
            </div>


        </article>
    </div>
</div>
{#=========================友情链接============================#}
<div class="line-block">
    <div class="container">
        <p>
            <a href="https://www.ahau.edu.cn/"><img src="/static/laboratory_stc/img/ahau.png" alt="ahau"></a>
            <a href="https://www.ncbi.nlm.nih.gov/"><img src="/static/laboratory_stc/img/ncbi.gif" alt="ncbi"></a>
            <a href="http://www.rcsb.org/"><img src="/static/laboratory_stc/img/pdb.gif" alt="pdb"></a>
{#            <a href="http://www.expasy.org/"><img src="/static/laboratory_stc/img/expasy.gif" alt="expasy"></a>#}
            <a href="http://www.genome.jp/kegg/"><img src="/static/laboratory_stc/img/kegg.gif" alt="kegg"></a>
{#            <a href="http://www.yeastgenome.org/"><img src="/static/laboratory_stc/img/sgd.gif" alt="sgd"></a>#}
        </p>
        <p>
{#            <a href="http://www.cazy.org/"><img src="/static/laboratory_stc/img/cazy.gif" alt="cazy"></a>#}
            <a href="http://www.nature.com/"><img src="/static/laboratory_stc/img/nature.gif" alt="nature"></a>
            <a href="http://www.sciencemag.org/"><img src="/static/laboratory_stc/img/science.gif" alt="science"></a>
            <a href="http://www.cell.com/"><img src="/static/laboratory_stc/img/cellpress.gif" alt="cellpress"></a>
        </p>
    </div>
</div>


{#=========================footer============================#}
<div class="footer">
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">Copyright © 安徽省北斗精准农业信息工程实验室版权所有 <a
            href="http://beian.miit.gov.cn" style="text-align:center;color:#fff"> 皖ICP备18022884号 </a></p>
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼 </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

</body>
</html>