<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>生物信息实验室</title>
    <link rel="shortcut icon" href="/static/laboratory_stc/img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/bootstrap.min.css">
{#          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"#}
    <link rel="stylesheet" href="/static/laboratory_stc/self_static/laboratory.css">
</head>
<body>
<div class="banner" id="banner">
    <a href="https://www.aielab.net/ahbd/"><img src="/static/laboratory_stc/img/banner.png.crdownload"></a>
</div>
{#=========================导=航=栏============================#}
<nav class="navbar navbar-default xw_navbar">
    <div class="container-fluid">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="https://www.aielab.net/ahbd/"> << 返回<span class="sr-only"></span></a></li>
            </ul>
            <ul class="nav navbar-nav xw_nav">
                <li>
                    <a href="../index">生信团队</a>
                </li>
                <li>
                    <a href="../team">人员组成</a>
                </li>
                <li>
                    <a href="../research">研究项目</a>
                </li>
                <li>
                    <a href="../achievement">科研成果</a>
                </li>
                <li>
                    <a href="../contact">联系我们</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
{#=========================人员详情============================#}
<div class="container">
    <div class="row">
        <div>
            <div class="xw_span" id="compose">
                <div>
                    <span>团队骨干</span>
                </div>
            </div>

            <div class="compose  row">
                <div class="professor container">
                    <div class="row">
                        <div>
                            <span class="xw_label1"></span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/zyh1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">张友华 教授 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/yzy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">岳振宇 副教授 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/gyj.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">高羽佳 讲师 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/cyq.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">陈祎琼 讲师 博士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/wzy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">王震宇 科研助理 硕士</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/wxss.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2"
                                      onclick="javascript:window.open('/bioinfolab/team')">王小松 科研助理 硕士</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="phd">
                    <div class="row">
                        <div>
                            <span class="xw_label1"></span>
                        </div>



                    </div>
                </div>
                <div class="graduate">
                    <div class="row">
                        <div>
                            <span class="xw_label1">硕士研究生</span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/xw3.png" alt>
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">薛 伟</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/xy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">项 颖</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/cgj.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">陈国俊</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/zq.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">周 前</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/xjj.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">徐嘉俊</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/xt2.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">徐 涛</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/gq.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">高 谦</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bachelor">
                    <div class="row">
                        <div>
                            <span class="xw_label1">本科学生</span>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/jx.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">罗佳欣</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/shy.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">史浩远 20智能科学与技术</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/tqa.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">唐钦铵</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/jl.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">丁嘉玲</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/lpp1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">刘培萍</span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/hh.png" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">胡 航</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="carbon">
                                <div>
                                    <img src="/static/laboratory_stc/img/photo/fhs1.jpg" alt="">
                                </div>
                            </div>
                            <div>
                                <span class="xw_label2">冯海松</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="xw_span">
                <div>
                    <span>硕士毕业生</span>
                </div>
            </div>
            <table class="table xw_table">
                <thead>
                <tr>
                    <th width="60px">序号</th>
                    <th width="100px">姓名</th>
                    <th width="200px">专业</th>
                    <th>毕业论文题目</th>
                    <th width="150px">毕业时间</th>
                    <th width="200px">毕业去向</th>
                    <th width="80px">学位</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>薛伟</td>
                    <td>农业工程与信息技术</td>
                    <td>致密颗粒蛋白数据库构建及其预测方法研究</td>
                    <td>2022.06</td>
                    <td>中科星图数字地球合肥有限公司</td>
                    <td>硕士</td>
                </tr>
                </tbody>
            </table>

            <div class="xw_span">
                <div>
                    <span>本科毕业生</span>
                </div>
            </div>
            <table class="table xw_table">
                <thead>
                <tr>
                    <th width="60px">序号</th>
                    <th width="100px">姓名</th>
                    <th width="200px">专业</th>
                    <th>毕业论文题目</th>
                    <th width="150px">毕业时间</th>
                    <th width="200px">毕业去向</th>
                    <th width="80px">学位</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>周贺杰</td>
                    <td>计算机科学与技术(辅修)</td>
                    <td>基于数据挖掘的抗癌药物和蛋白质特征提取方法研究</td>
                    <td>2022.06</td>
                    <td>南京农业大学(保研)</td>
                    <td>学士</td>
                </tr>
                </tbody>
                <tbody>
                <tr>
                    <td>2</td>
                    <td>冯海松</td>
                    <td>计算机科学与技术</td>
                    <td>基于有向图神经网络的突变-药物关联预测</td>
                    <td>2023.06</td>
                    <td>厦门大学(保研)</td>
                    <td>学士</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
{#=========================友情链接============================#}
<div class="line-block">
    <div class="container">
        <p>
            <a href="https://www.ahau.edu.cn/"><img src="/static/laboratory_stc/img/ahau.png" alt="ahau"></a>
            <a href="https://www.ncbi.nlm.nih.gov/"><img src="/static/laboratory_stc/img/ncbi.gif" alt="ncbi"></a>
            <a href="http://www.rcsb.org/"><img src="/static/laboratory_stc/img/pdb.gif" alt="pdb"></a>
{#            <a href="http://www.expasy.org/"><img src="/static/laboratory_stc/img/expasy.gif" alt="expasy"></a>#}
            <a href="http://www.genome.jp/kegg/"><img src="/static/laboratory_stc/img/kegg.gif" alt="kegg"></a>
{#            <a href="http://www.yeastgenome.org/"><img src="/static/laboratory_stc/img/sgd.gif" alt="sgd"></a>#}
        </p>
        <p>
{#            <a href="http://www.cazy.org/"><img src="/static/laboratory_stc/img/cazy.gif" alt="cazy"></a>#}
            <a href="http://www.nature.com/"><img src="/static/laboratory_stc/img/nature.gif" alt="nature"></a>
            <a href="http://www.sciencemag.org/"><img src="/static/laboratory_stc/img/science.gif" alt="science"></a>
            <a href="http://www.cell.com/"><img src="/static/laboratory_stc/img/cellpress.gif" alt="cellpress"></a>
        </p>
    </div>
</div>


{#=========================footer============================#}
<div class="footer">
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">Copyright ©  安徽省北斗精准农业信息工程实验室版权所有 <a href="http://beian.miit.gov.cn" style="text-align:center;color:#fff"> 皖ICP备18022884号 </a></p>
    <p style="text-align:center;color: hsla(0,0%,100%,.5);">中国 安徽 合肥蜀山区长江西路130号安徽农业大学中西部综合楼  </p>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"
        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"
        crossorigin="anonymous"></script>
<script src="/static/laboratory_stc/self_static/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>

</body>
</html>