.banner{
    height: 125px;
    width: 100%;
    text-align: center;
}

.banner>img{
    margin: auto;
}

.xw_nav{
    margin-left: 300px;
    font-size: 18px;
    font-weight: 600;

}
.xw_nav li{
    margin-left: 50px;
    width: auto;
    text-align: center;
}

.xw_nav li:hover{
    background-color: #01654e;
    cursor: pointer;
}

.xw_nav li a{

}

.xw_navbar{
    background-color: #017457;
    border-color:transparent;
    z-index: 1;
    border-radius: 0!important;
}

.xw_navbar div ul li a{
    color: #FFFFFF!important;
    font-family: '宋体';
}


.xw_banner div:nth-child(2) div{
    height: 280px;
}

.xw_banner div:nth-child(2) div div{
    width: 100%;
    height: 100%;
}

.cell{
    margin-top: -40px;
    width: 100%;
    height: 500px;
}

.xw_banner{
    width: 1200px;
    margin: 100px auto;
}

.xw_banner div h1{
    text-shadow:1px 5px 7px #000;
    color: aliceblue;
    font-size: 60px;
    margin-bottom: 15px;
    letter-spacing: -2px;
}

.xw_banner div div:nth-child(2) h3{
    text-shadow:2px 2px 2px #000;
}


.xw_lunbo img{
    width: 100%;
    height: 100%;
}



.xw_banner div:nth-child(1){
    /*padding: 10px;*/
}

.xw_banner div:nth-child(1) div{
    width: 435px;
    /*background:rgba(0,0,0,0.3);*/
}

.xw_banner div:nth-child(1) div:nth-child(2){
    color: #eeeeea;
    margin-top: 5px;
    width: auto;
    /*background:rgba(0,0,0,0.3);*/
}

.xw_span{
    border-left: 5px solid #017457;
    width: auto;
    height: 50px;
    margin-top: 20px;
    border-bottom: 2px solid #8bee38;
}

.xw_span div{
    margin-left: 5px;
    font-size: 25px;
    font-weight: 600;
    color: #017457;
}

.xw_span div span{
    line-height: 50px;
}

.xw_span div a{
    float: right;
    margin-right: 0px;
    font-size: 18px;
    margin-top: 20px;
    text-decoration: none;
    color: #017457;
}

.xw_span div a:hover{
    color: #0cb687;
    cursor: pointer;
}

.intruduce_img{
    width: 100%;
    padding: 100px;
}
.intruduce_img div{
    padding: 15px;
    box-shadow: 1px 2px 5px 5px #888888;
}
.intruduce_img div img{
    width: 100%;
}

.compose div {
    margin-top: 20px;
    text-align: center;
}

.compose div div{
    position: relative;
    /*background-color: #017457;*/
}

.compose div div div{
    /*background-color: #017410;*/
    /*border-radius: 200px;*/
}

.compose div div div div{
    margin: auto auto;
    width: 250px;
    height: 250px;
    background-color: #8dcbbb;
    border-radius: 125px;
    padding: 10px;
}

.compose div>div>div>div:hover{
    background-color: #017457;
    transition: all .2s ease-out;
    cursor: pointer;
}

.compose div div div div div{
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
}

.compose div div div div div img{
    width: 100%;
    height: 100%;
    border-radius: 125px;
}

.compose div div div div:nth-child(2){
    height: 40px;
    width: 200px;
    margin: 10px auto;
    background-color: #017457;
}
.xw_label1 {
    color: #017457;
    font-size: 30px;
    font-weight: 600;
}

.xw_label2{
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #007457;
    padding: 25px;
}

.nav_border{
    border-radius: 25px;
    border: 5px solid rgba(131, 167, 236, 0.5);
    overflow: hidden;
}

.xw_table{
    margin-top: 50px;
    font-size: 20px;
}

.line-block{
    width: 100%;
    margin-top: 100px;
    background: #38ae71;
    text-align: center;
    padding: 25px;
}

.line-block a{
    opacity: 0.6;
    transition: all .1s ease-out;
}

.line-block a:hover{
    opacity: 1;
    transition: all .2s ease-out;
    cursor: pointer;
}

.achievement_h2{
    margin-top: 60px;
    /*margin-left: 0;*/
    color: #38ae71;
    font-weight: 600;
}

.achievement_li{
    list-style-type: none;
    padding-left: 50px;
    padding-right: 50px;
}

.achievement_li p:nth-child(1){
    /*position: absolute;*/
    margin-left: -50px;
    margin-bottom: -46px;
    font-size: 20px;
    color: #0cb687;
}

.achievement_li p:nth-child(2){
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
    position: relative;
    font-size: 18px;
}

.achievement_li p a{
    position: absolute;
    right: -50px;
    margin-top: 0px;
}

.xw_article{
    margin-left: 100px;
    font-weight: 500;
    margin-top: 50px;
}

.xw_article ul li{
    list-style-type: none;
}

.xw_contribute{
    /*position: absolute;*/
    margin-right: 0px;
    margin-top: 200px;
}

.xw_title{
    display: block;
    font-size: 1.5em;
    color: #38ae71;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.xw_title_img{
    box-shadow: 1px 2px 5px 5px #888888;
    border-radius: 10px;
}

.xw_title_div p{
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    text-indent: 2em;
    color: #000000;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    line-height: 1.8;
    font-family: "Roboto Slab", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
